<div class="main-container">
    <fieldset>
        <legend>Weekly Schedule</legend>
        <div class="table-container">
            <table>
                <colgroup>
                    <col span="4" style="background-color: pink">
                    <col span="8" style="background-color: rgb(161, 161, 161)">
                </colgroup>
                <tr>
                    {{#each weekDays}}
                    <th>{{day}}</th>
                    {{/each}}
                </tr>
                <tr>
                    {{#days}}
                    <th>{{day}}</th>
                    {{/days}}
                </tr>
                <tr>
                    {{#each days}}
                    <td>
                        {{name}}
                    </td>
                    {{/each}}
                </tr>
                <tr>
                    {{#each waiters}}
                    <td>
                        <a href="/waiter/{{name}}">
                            <button class="days-button user-btn">
                                <p>{{name}}</p>
                            </button>
                        </a>
                    </td>
                    {{/each}}
                </tr>
                </tr>
            </table>
        </div>
        <div class="instructions">
            <p class="colors">Working<span class="purple"></span></p>
        </div>
    </fieldset>
</div>